h2 {
  text-align: center;
}

.boat-form {
  max-width: 400px;
  margin: 0 auto;
}

.boat-full-width {
  width: 100%;
}

button {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .boat-form {
    max-width: 100%;
  }
}
