<h2>{{ isUpdateMode ? 'Modifier' : 'Créer' }} un bateau</h2>

<form (submit)="onSubmit()" class="boat-form">
  <mat-form-field class="boat-full-width">
    <input [(ngModel)]="boatData.name" matInput name="name" placeholder="Nom" required>
  </mat-form-field>

  <mat-form-field class="boat-full-width">
    <textarea [(ngModel)]="boatData.description" matInput name="description" placeholder="Description"
              required></textarea>
  </mat-form-field>

  <mat-form-field class="boat-full-width">
    <input [(ngModel)]="boatData.location" matInput name="location" placeholder="Emplacement" required>
  </mat-form-field>

  <mat-form-field class="boat-full-width">
    <input [(ngModel)]="boatData.size" matInput name="size" placeholder="Taille (m)" required type="number">
  </mat-form-field>

  <div class="form-actions">
    <button color="primary" mat-raised-button type="submit">{{ isUpdateMode ? 'Modifier' : 'Créer' }}</button>
    <button mat-button routerLink="/boats" type="button">Annuler</button>
  </div>
</form>
