<mat-toolbar color="primary">
  <span>Boat App</span>
  <span class="spacer"></span>
  <button (click)="logout()" *ngIf="isAuthenticated" mat-icon-button>
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>
