<h1 mat-dialog-title>Confirmation</h1>
<div mat-dialog-content>{{ data.message }}</div>
<div mat-dialog-actions>
  <button (click)="onNoClick()" mat-button>Non</button>
  <button (click)="onYesClick()" mat-button>Oui</button>
</div>
