.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  max-width: 400px;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-form-field {
  width: 100%;
  max-width: 300px; /* Ajustez selon vos besoins */
  margin-bottom: 15px;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}
