<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form (ngSubmit)="login(username.value, password.value)">
        <mat-form-field>
          <input #username matInput placeholder="Nom d'utilisateur">
        </mat-form-field>

        <mat-form-field>
          <input #password matInput placeholder="Mot de passe" type="password">
        </mat-form-field>

        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>

        <button color="primary" mat-raised-button type="submit">Se connecter</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
