<div class="boat-details-container">
  <h2>Détails du bateau</h2>

  <div *ngIf="boat" class="boat-details">
    <div class="detail-item">
      <label>ID:</label>
      <span>{{ boat.id }}</span>
    </div>
    <div class="detail-item">
      <label>Nom:</label>
      <span>{{ boat.name }}</span>
    </div>
    <div class="detail-item">
      <label>Description:</label>
      <span>{{ boat.description }}</span>
    </div>
    <div class="detail-item">
      <label>Emplacement:</label>
      <span>{{ boat.location }}</span>
    </div>
    <div class="detail-item">
      <label>Taille (en mètres):</label>
      <span>{{ boat.size ? boat.size + ' m' : 'Non spécifié' }}</span>
    </div>
    <!-- Ajoutez d'autres détails du bateau selon vos besoins -->
  </div>
</div>
