.boat-details-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.boat-details {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.detail-item {
  margin-bottom: 15px;
}

.detail-item label {
  font-weight: bold;
  margin-right: 10px;
  display: inline-block;
}

h2 {
  color: #333;
}
