
.boat-card {
  margin: 16px;
  cursor: pointer;
}

.mat-card-header-text {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.mat-card-content {
  max-height: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}


/*add icon*/

.create-boat-button {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1;
}

.create-boat-button button {
  width: 56px;
  height: 56px;
}

.create-boat-button mat-icon {
  font-size: 24px;
}
