<div class="create-boat-button">
  <button (click)="createNewBoat()" color="primary" mat-fab>
    <mat-icon>add</mat-icon>
  </button>
</div>
<mat-card *ngFor="let boat of boats" class="boat-card">
  <mat-card-header (click)="viewBoatDetails(boat.id)">
    <mat-card-title>{{ boat.name }}</mat-card-title>
    <mat-card-subtitle>{{ boat.location }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content (click)="viewBoatDetails(boat.id)">
    <p>{{ boat.description }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="viewBoatDetails(boat.id)" color="primary" mat-button>Détails</button>
    <button (click)="editBoat(boat.id)" color="accent" mat-button>Modifier</button>
    <button (click)="deleteBoat(boat.id)" color="warn" mat-button>Supprimer</button>
  </mat-card-actions>
</mat-card>
